<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div>
    <form method="POST" action="/login">
        <input name="j_username"/>
        <input name="j_password"/>
        <input type="submit"/>
    </form>
</div>
<br>
<hr>
<p>Васина форма</p>

<form method="POST" action="/login">
    <h2>Login Form</h2>
    <div>
        <input name="username" type="text" placeholder="Username"
               autofocus="true"/>
        <input name="password" type="password" placeholder="Password"/>
        <button type="submit">Log In</button>
        <h4><a href="/index">Start Page</a></h4>
        <h4><a href="/reg">Registration</a></h4>
    </div>
</form>
</body>
</html>